{% extends 'app.twig' %}
{#% cache 'header' ~ cacheKey %#}
{#% include('partials/header.twig') %#}
{% block MAIN %}

<body class="main__body">
  <!-- Header -->
  <!-- Main Page -->
  <header class="header">
    <!-- Navbar -->
    <nav class="nav">
      <div class="navbar">
        <div class="logo"> <a href="#"> <img src="templates/img/logo.svg" alt="logo"> </a> </div>
        <ul class="menu">
          <li class="menu__item"><a href="#about" class="menu__item-link" data-scroll>О компании</a></li>
          <li class="menu__item"><a href="#team" class="menu__item-link" data-scroll>Data Team</a></li>
          <li class="menu__item"><a href="#stack" class="menu__item-link" data-scroll>Наш стек</a></li>
          <li class="menu__item"><a href="#vakancy" class="menu__item-link" data-scroll>Вакансии</a></li>
        </ul>
        <div class="burger">
          <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_207_2847)">
              <path d="M20.8802 19.999C17.7821 19.999 18.565 20.001 15.467 19.9981C14.3349 19.9971 13.4182 19.2627 13.1664 18.1714C12.9098 17.0572 13.4191 15.8975 14.4169 15.4318C14.7273 15.2868 15.094 15.1956 15.4355 15.1946C21.6548 15.1806 14.7773 15.182 20.9966 15.1864C22.2189 15.1874 23.2244 16.123 23.3219 17.3196C23.43 18.6496 22.6404 19.7439 21.4025 19.967C21.2265 19.9985 21.0426 19.9971 20.8627 19.9976C17.7962 19.999 23.9461 19.999 20.8797 19.9985L20.8802 19.999Z" fill="black" />
              <path d="M14.0924 4.81697C11.0182 4.81697 13.28 4.80145 10.2057 4.82376C8.8151 4.83395 7.98373 3.82262 7.80814 2.87532C7.52584 1.35276 8.62011 0.00432097 10.1689 0.00189573C13.117 -0.00198466 10.7301 0.000925634 13.6782 0.000925634C16.9096 0.000925634 17.7157 -0.00101456 20.9466 0.00189573C22.0322 0.00286583 22.8975 0.635369 23.222 1.64961C23.5446 2.65899 23.19 3.77315 22.3533 4.38722C21.9095 4.71317 21.4084 4.81988 20.8661 4.81891C17.8001 4.81358 17.1589 4.81649 14.0929 4.81649L14.0924 4.81697Z" fill="black" />
              <path d="M11.6453 12.4055C8.55553 12.4055 5.46528 12.407 2.37552 12.4051C1.17066 12.4041 0.248587 11.6096 0.0356509 10.3994C-0.162734 9.26971 0.483836 8.11433 1.55191 7.73647C1.80559 7.64674 2.08886 7.60017 2.35855 7.59969C8.56959 7.59241 14.7811 7.59241 20.9922 7.59532C22.2024 7.59581 23.2064 8.51304 23.3199 9.70043C23.446 11.0207 22.6569 12.1422 21.4307 12.3716C21.2546 12.4046 21.0707 12.4041 20.8908 12.4046C17.8088 12.4065 14.7268 12.406 11.6448 12.406L11.6453 12.4055Z" fill="black" />
            </g>
            <defs>
              <clipPath id="clip0_207_2847">
                <rect width="23.3396" height="20" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </nav>
  </header>
  {#{baseSettings.scripts_body | raw}#}
  <main class="main">
    <div id="fullpage">

<section class="hero  section">
  <div class="container">
    <div class="hero__inner" data-aos="fade-up" data-aos-duration="1000">
      <div class="hero__top">
        <img src="templates/img/hero-logo.svg" alt="hero logo">
        <img src="templates/img/logo-white.svg" alt="hero logo">
      </div>
      <div class="hero__middle">
        <h1 class="hero__title">
          Ало, мы ищем DataScience специалистов
        </h1>
      </div>

      <div class="hero__bottom">
        <a class="hero__link hero__link--green" href="#vakancy">
          <img src="templates/img/hero-3-1.png" alt="">
          Отлично, я хочу посмотреть
          <span>вакансии</span>
        </a>

        <a class="hero__link hero__link--transparent" href="/daubi#daubitest">
          <img src="templates/img/hero-3-2.png" alt="">
          Драфтуйте меня скорее!
          <span>«Дауби!»</span>
        </a>

        <a class="hero__link hero__link--green--2" href="/futbol">
          <img src="templates/img/hero-3-3.png" alt="">
          Я готов стать вашим игроком!
          <span> какие у вас есть позиции?</span>
        </a>
      </div>
    </div>
  </div>
</section>



    {#<div class="hero-second">
      <div class="hero-second__logo">
        <img src="templates/img/hero-second-logo.svg" alt="hero-second logo">
      </div>
    </div>#}
    <section class="section">
      <div class="container">
        <div class="about__inner" id="about">
          <ul class="about__icons">
            <li class="about__icon"><img src="templates/img/about/about-1.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-2.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-3.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-4.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-5.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-6.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-7.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-8.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-9.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-10.png" alt=""></li>
            <li class="about__icon"><img src="templates/img/about/about-11.png" alt=""></li>
          </ul>
          <div class="about__texts">
            <p class="about__text">
              Мы — PARI, технологичная букмекерская компания. Мы создаем все условия для того, чтобы любители спорта могли
              наслаждаться просмотром спортивных событий и заключать пари.
            </p>
            <p class="about__text">
              PARI обладает внушительным спонсорским портфолио в самых популярных видах спорта и сотрудничает с ведущими
              российскими федерациями — Союз биатлонистов России, Всероссийская федерация волейбола; футбольными клубами:
              «ПАРИ НН», «Торпедо», «Ахмат», любительский футбольный клуб «Амкал»; хоккейными клубами: «Торпедо»,
              «Северсталь», «Нефтехимик», «Адмирал» и «Витязь».
            </p>
            <p class="about__text">
              В нашей команде амбассадоров — известные телеведущие Дмитрий Губерниев, Ольга Петрикова, популярные российские
              ММА-бойцы Петр Ян и Арман Царукян, а также легенда российского футбола Андрей Тихонов и главный регбист страны
              Василий Артемьев.
            </p>
            <p class="about__text">
              Одна из главных задач PARI — создать сильную команду для продвижения нашего продукта на российском рынке. Мы
              стремимся войти в топ-3 букмекерских компаний и поэтому ставим на профессионалов своего дела, которые всегда
              заряжены на победу.
            </p>
          </div>
        </div>
      </div>
    </section>
      <section class="dating">
        <div class="dating__inner">
          <div class="container">
            <div class="dating__info">
              <h2 class="dating__title" id="team">
                Познакомьтесь с<br> нашей
                <span>
                  DATA team
                </span>
              </h2>
              <p class="dating__text">
                Мы – группа талантливых специалистов, работающих в
                условиях спокойной, умственно тяжелой и прогрессивной атмосферы. Наша команда фокусируется на автономных
                продуктах и сервисах, постоянно развивая себя и свою зону ответственности. Мы
                гордимся своими достижениями и работаем из любой точки мира.
              </p>
            </div>
          </div>
          <div class="dating__picture">
            <img class="dating__pic" src="templates/img/dating-bg.jpg" alt="">
          </div>
        </div>
      </section>
      <section>
      <div class="data" id="stack">
        <div class="container">
          <div class="data__logo">
            <img src="templates/img/data-logo.svg" alt="">
          </div>
          <div class="data__lists">
            <ul class="data__list data__list--left">
              <li class="data__item-decor">
                <img src="templates/img/data/left-list-decor.svg" alt="">
              </li>
              <li class="data__item data__item--first">
                <h5 class="data__item-title">
                  BI
                </h5>
                <p class="data__item-descr">
                  Business Intelligence
                </p>
              </li>
              <li class="data__item">
                <h5 class="data__item-title">
                  Data продукты
                </h5>
                <p class="data__item-descr">
                  Помощь бизнесу быть быстрее и
                  точнее
                </p>
              </li>
              <li class="data__item">
                <h5 class="data__item-title">
                  Цифровая поддержка бизнеса
                </h5>
                <p class="data__item-descr">
                  Бизнес живет данными, а мы доктора широкого спектра
                </p>
              </li>
              <div class="data__item">
                <h5 class="data__item-title">
                  Data Analysis
                </h5>
                <p class="data__item-descr">
                  Поиск инсайтов, углубленное изучение проблем, исследования
                </p>
              </div>
            </ul>
            <ul class="data__list data__list--right">
              <li class="data__item-decor">
                <img src="templates/img/data/right-list-decor.svg" alt="">
              </li>
              <li class="data__item data__item--first">
                <h5 class="data__item-title">
                  R&D
                </h5>
                <p class="data__item-descr">
                  Research & Development
                </p>
              </li>
              <li class="data__item">
                <h5 class="data__item-title">
                  Data продукты
                </h5>
                <p class="data__item-descr">
                  Помощь бизнесу быть быстрее и
                  точнее
                </p>
              </li>
              <li class="data__item">
                <h5 class="data__item-title">
                  DWH
                </h5>
                <p class="data__item-descr">
                  Альма-матер любого дата-продукта
                </p>
              </li>
              <li class="data__item">
                <h5 class="data__item-title">
                  Data Science
                </h5>
                <p class="data__item-descr">
                  Не надо объяснять, когда не надо объяснять =)
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </section>
      <section class="techno">
        <div class="container">
          <div class="techno__inner">
            <div class="techno__top">
              <div class="techno__info">
                <h3 class="techno__title">
                  Держим руку на пульсе
                  <span>
                    технологий
                  </span>
                </h3>
                <p class="techno__test">
                  Используем всё, что позволит эффективно обработать или представить данные. Учим всему, что знаем сами и
                  готовы выслушать, если есть дельные предложения.
                </p>
              </div>
              <img class="techno__img" src="templates/img/techno/techno-img.svg" alt="">
            </div>
            <ul class="techno__icons">
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-1.svg" alt="">
                <p class="techno__icon-descr">
                  Python
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-2.svg" alt="">
                <p class="techno__icon-descr">
                  Greenplum
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-3.svg" alt="">
                <p class="techno__icon-descr">
                  Сlickhouse
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-4.svg" alt="">
                <p class="techno__icon-descr">
                  Postgree
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-5.svg" alt="">
                <p class="techno__icon-descr">
                  Tablue
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-6.svg" alt="">
                <p class="techno__icon-descr">
                  Youtrack
                </p>
              </li>
            </ul>
            <ul class="techno__icons">
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-7.svg" alt="">
                <p class="techno__icon-descr">
                  Metabase
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-8.svg" alt="">
                <p class="techno__icon-descr">
                  BigQuery
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-9.svg" alt="">
                <p class="techno__icon-descr">
                  Google Analytics
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-10.svg" alt="">
                <p class="techno__icon-descr">
                  Chat GPT
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-11.svg" alt="">
                <p class="techno__icon-descr">
                  GitHub
                </p>
              </li>
              <li class="techno__icon">
                <img class="techno__pic" src="templates/img/techno/techno-12.svg" alt="">
                <p class="techno__icon-descr">
                  Airflow Apache
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section>
      <div class="condition">
        <div class="condition__inner">
          <div class="condition__row">
            <h3>
              <div class="line" style="top:180px"></div>
              Условия и преимущества работы
            </h3>
          </div>
          {#<div class="condition__row line">
            <h3>
              Условия и преимущества работы
            </h3>
          </div>#}
          <div class="condition__info">
            <div class="condition__texts">
              <span class="black bold">Интересные задачи в успешной компании технологичной индустрии.</span>
              <span class="white bold"> Релокация в комфорта-бельный офис в центре Белгорода со своей кухней и
                релакс-зоной.</span>
              <span class="black">Профессиональное развитие в Sky Eng и Skillbox.</span>
              <span class="white">Интересные задачи в успешной компании техно-логичной индустрии.</span>
              <span class="black bold"> 5/2 + 22 дня оплачива-емого отпуска</span>
            </div>
            <div class="condition__pictures">
              <div class="condition__pic" data-delighter="">
                <img src="templates/img/condition/condition-1.jpg" alt="">
              </div>
              <div class="condition__pic" data-delighter="">
                <img src="templates/img/condition/condition-2.jpg" alt="">
              </div>
              <div class="condition__pic" data-delighter="">
                <img src="templates/img/condition/condition-3.jpg" alt="">
              </div>
              <div class="condition__pic" data-delighter="">
                <img src="templates/img/condition/condition-4.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="condition__footer">
            <div class="condition__img" data-delighter="">
              <img src="templates/img/condition/condition-footer-1.jpg" alt="">
            </div>
            <div class="condition__img" data-delighter="">
              <img src="templates/img/condition/condition-footer-2.jpg" alt="">
            </div>
            <div class="condition__images">
              <img src="templates/img/condition/condition-img-1.jpg" alt="">
              <img src="templates/img/condition/condition-img-2.jpg" alt="">
              <img src="templates/img/condition/condition-img-3.jpg" alt="">
              <img src="templates/img/condition/condition-img-4.jpg" alt="">
              <img src="templates/img/condition/condition-img-5.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      </section>
      <section>
      <div class="job">
        <div class="job__marquee">
          <div class="job__marquee">
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text fiol bold">Вакансии!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text fiol bold">Вакансии!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text fiol bold">Вакансии!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text fiol bold">Вакансии!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text green">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
            <p class="job__marquee-text red">Hot!</p>
          </div>
        </div>
        <div class="container" id="vakancy">
          <div class="job__info">
            Мы ценим твой опыт! <br>
            Вот список актуальных вакансий в нашем подразделении. <br>
            Посмотри, где ты можешь быть полезен!<br>
          </div>
          <div class="job__main">
            <div class="job__header">
              <div class="job__head">Дата</div>
              <div class="job__head">Вакансия</div>
              <div class="job__head">Отдел</div>
              <div class="job__head">Условия оплаты труда</div>
              <div class="job__head">Вакансия <br>
                на площадках</div>
            </div>
            <div class="accordion">
              {{runSnippet('DocLister', {
              id: 'accordion',
              display: 20,
              parents: 2,
              depth: 3,
              tvList:'date,department,pay,hh_link,in_link,special,rang,duties,requirements,teststudy',
              ownerTPL: '@CODE:[+dl.wrap+]',
              tpl:'@T_FILE:partials/accordeon',
              debug: 0,
              }) |raw
              }}
            </div>
          </div>
        </div>
      </div>
      </section>
      {#% include('partials/scripts.twig') %#}
    </div>
  </main>
  {% cache 'footer' ~ cacheKey %}
  <div class="footer-form">
    <div class="container">
      <div class="footer-form__inner">
        <div class="footer-form__top">
          <div class="footer-form__top-label">
            Свяжитесь с нами
          </div>
          <h4 class="footer-form__title">
            Простая форма для большого <br>
            шага вперед!
          </h4>
        </div>
        <div class="footer-form__main">
          {{ runSnippet('Form', {
            formid: 'feedback',
            path: '/templates/partials/forms/withfile/',
            extension: 'twig',
            to: 'jacov911@ya.ru',
            }) | raw }}
        </div>
        {#<div class="footer-form__footer">
          <div class="footer-form__decor"></div>
          <div class="footer-form__decor"></div>
          <div class="footer-form__decor"></div>
        </div>#}
      </div>
    </div>
  </div>
  <script>// Находим элементы

</script>
  {#% include('partials/footer.twig') %#}
  {#% include('partials/popup.twig') %#}
{#<script>
window.addEventListener('load', function() {
  // Ваш код здесь
  new fullpage('#fullpage', {
    //options here
    autoScrolling:true,
    sectionSelector: 'section',
    scrollHorizontally: true
  });
});
</script>#}
  {% endcache %}
  {% endblock %}